/* ========================= *\
||													 ||
|| 	CSS RESET								 ||
||													 ||
\* ========================= */


/* Removes the shitty default styling browsers add */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ========================= *\
||													 ||
|| 	Typography								   ||
||													 ||
\* ========================= */

h1 {}

h2 {
  font-family: 'Pacifico';
  color: #444;
  font-size: 26px;
  margin-top: 50px;
  margin-bottom: 12px;
  padding: 0;
}

h3 {}

h4 {}

h5 {}

h6 {
  font-family: 'Pacifico';
  color: #444;
  font-size: 20px;
}


/* ========================= *\
||													 ||
|| 	General								   ||
||													 ||
\* ========================= */

.animation {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
}

body {
  background-color: #f5f2ed;
}

header {
  background-color: #B8DEE0;
  height: 100px;
  width: 100%;
  padding: 15px 0px;
}

header section {
  height: 100%;
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

header section:first-child {
  float: left;
}

header section:last-child {
  float: right;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  display: block;
}

.menu li {
  display: inline-block;
}

.menu a {
  vertical-align: top;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

.menu a:hover {
  color: #f5f2ed;
  cursor: pointer;
  /*font-weight: bolder;*/
  transition: 200ms;
}

.circle-image {
  margin: 0 auto;
}

footer {
  /*width: 100%;*/
  height: 150px;
  background-color: #B8DEE0;
}

footer.contact {
  padding: 50px;
}

footer p {
  color: #000;
  font-family: 'Pacifico';
  text-align: center;
}

footer h6 {
  display: inline-block;
}

footer h6::after {
  content: '';
  background-image: url('../assets/arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 240px;
  height: 35px;
  position: absolute;
  margin-top: 22px;
}

#email {
  font-size: 20px;
  font-family: 'Pacifico';
  color: #444;
  text-decoration: none;
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  transition: 200ms;
}

#email:hover {
  color: #f5f2ed;
}

footer .contact-info {
  position: relative;
  margin-top: -30px;
}

footer .contact-info p {
  line-height: 1.2;
}

footer .contact-info p:not(:first-child):not(:last-child) {
  margin-bottom: 8px;
}


/*
footer img { 
	max-width: 5%;
	height: auto;
	position: relative;
	left: 450px;
}
*/


/*span {
	vertical-align: top;
	height: 70px;
	line-height: 70px;
	padding: 0 20px;
	text-decoration: none;
	font-family: 'Pacifico';
	font-size: 20px;
	color: #444;
	margin-left: 100px;
} */

.content img {
  display: block;
  margin: 0 auto;
}

.content h3 {
  font-family: 'Pacifico';
  font-size: 20px;
  color: #444;
  padding: 20px;
  text-align: center;
}

.begin-title {
  vertical-align: top;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  text-decoration: none;
  font-family: 'Pacifico';
  font-size: 20px;
  color: #444;
}


/* ========================= *\
||													 ||
|| 	FIRST SETTING						 ||
||													 ||
\* ========================= */

#scene-1 {
  position: absolute;
  top: 0px;
  height: 350px;
  width: 100%;
  background-color: #f5f2ed;
  background-size: contain;
  background-repeat: translateX(-50%);
  padding-top: rem-calc(60);
}

#milou {
  animation-name: animateInX;
  animation-delay: 0s;
  /* Temp */
  animation-duration: 1ms;
  /* End of temp */
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  background-image: url('../assets/milou.png');
  background-image: url('../assets/milou.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 10px;
  max-height: 275px;
  transform: translateY(-100%);
}

#vinyl {
  width: 100px;
  height: 100px;
  background-image: url('../assets/vinyl.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 40px;
  right: 10%;
  animation-name: vinylSlideIn;
  animation-delay: 2s;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  transform: translateX(200%);
}


/*#candle {
	height: 26px;
	width: 26px;
	position: absolute;
	bottom: 129px;
	right: 70px;
	/*right: 400px;
}*/


/*#candle-lighting {
	animation-name: candleFlickering;
	animation-delay: 1.5s;
	animation-duration: 600ms;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.31, -0.17, .72, 1.18);
	animation-direction: alternate;
	transform-origin: center;
}*/

.table-wrapper {
  height: 200px;
  width: 100%;
  bottom: 0;
  animation-name: animateOutY;
  animation-delay: 1.5s;
  animation-duration: .5s;
  /* Temp */
  /*animation-delay: 0s;*/
  /*animation-duration: 1ms;*/
  /* End of temp */
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.31, -0.17, .72, 1.18);
  position: absolute;
  transform: translateY(100%);
  height: 175px;
}

.table {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  width: 100%;
  height: 175px;
}

#table1 {
  background-image: url('../assets/desk.svg');
}


/* ========================= *\
||													 ||
|| 	SECOND SETTING						 ||
||													 ||
\* ========================= */

#scene-2 .table-wrapper {
  height: 220px;
}

#table2 {
  background-image: url('../assets/kitchen.svg');
  height: 100%;
}

#chef-hat {
  background-image: url('../assets/chef-hat.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  height: 180px;
  width: 85px;
  position: absolute;
  left: 37.5%;
  top: -82px;
  z-index: 5;
  transform: translateY(-500%);
  animation-name: bounceInDown;
  animation-delay: 1.8s;
  animation-duration: 0.8s;
  /* Temp */
  /*animation-delay: 0s;*/
  /*animation-duration: 1ms;*/
  /* End of temp */
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.31, -0.17, .72, 1.18);
}

@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes chefHatDrop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes animateInY {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes animateOutY {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes animateInX {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes vinylSlideIn {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes animateInFade {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1)
  }
}


/* ========================= *\
||													 ||
|| 	third SETTING						 ||
||													 ||
\* ========================= */

#table3 {
  background-image: url('../assets/table3.svg');
}

#poster {
  /*width: 180px;*/
  /*height: 270px;*/
  width: 90px;
  height: 180px;
  background-image: url('../assets/poster.png');
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 40px;
  right: 20%;
  animation-name: vinylSlideIn;
  animation-delay: 2s;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  transform: translateX(500%);
}


/* ========================= *\
||													 ||
|| 	HOME										 ||
||													 ||
\* ========================= */

.content {
  margin-top: 100px;
}

.content-text {
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 100px;
  line-height: 1.4;
}


/* ========================= *\
||													 ||
|| 	About										 ||
||													 ||
\* ========================= */

blockquote {
  font-family: 'Pacifico';
  font-style: italic;
  max-width: 500px;
  line-height: 1.3;
  font-size: 18px;
}

.introduction-about {
  margin-top: 40px;
  margin-bottom: 40px;
}

.content-about {
  margin-bottom: 40px;
}

.introduction-about p,
.content-about p {
  text-align: justify;
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 1.4;
  padding: 10px 0;
}

.content-about p {
  margin-top: 50px;
}


/* ========================= *\
||													 ||
|| 	cases										 ||
||													 ||
\* ========================= */

.cases {
  /*width: 100%;*/
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 40px;
}

.case {
  width: 100%;
  height: 150px;
  /* small devices */
  height: 250px;
  /* medium devices */
  height: 300px;
  /* large devices */
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  transition: 400ms ease-out;
  padding-top: 60px;
}

.case p {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  padding: 20px;
  text-align: center;
}

.case:hover {
  transform: scale(1.02);
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.button {
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: inline-block;
  height: 40px;
  width: 130px;
  /*background-color: #30A7B7; */
  border-radius: 40px;
  line-height: 36px;
  text-decoration: none;
  transition: 200ms ease-out∆í;
}

.white .button {
  color: #FFF;
  background: none;
  border: 1px solid white;
  cursor: pointer;
}

.white .button:hover {
  color: #000;
  background-color: #FFF;
  cursor: pointer;
}

.black .button {
  color: #000;
  background: none;
  border: 1px solid black;
  cursor: pointer;
}

.black .button:hover {
  color: #FFF;
  background-color: #000;
  cursor: pointer;
}

#case-1 {
  background-image: url('../assets/tavenu.png');
}

#case-2 {
  background-image: url('../assets/robotica.png');
}

#case-3 {
  background-image: url('../assets/imperium.png');
}

.header {
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
  position: relative;
}

.header.tavenu {
  background-image: url('../assets/header-case1.png');
  background-position: center -300px;
  background-size: cover;
}

.header h1 {
  font-family: 'Roboto';
  font-size: 80px;
  color: white;
  text-align: center;
  padding-top: 135px;
  position: relative;
  z-index: 2;
}

.header.robotica {
  background-image: url('../assets/header-case2.png');
  background-size: cover;
}

.header.imperium {
  background-image: url('../assets/header-case3.png');
  background-size: cover;
  background-position: center -50px
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  height: 350px;
  width: 100%;
}

.content-case {
  font-family: 'Roboto';
  font-weight: 300;
  color: #444;
  padding: 10px;
}

.content-case p {
  padding: 0;
  line-height: 1.3;
}

/*
.content-case h2 {
  font-family: 'Pacifico';
  color: #444;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 12px;
  padding: 0;
}
*/

.push-whitespace {
  margin: 50px 0;
  display: block;
}


/* ========================= *\
||                           ||
||  RESPONSIVE               ||
||                           ||
\* ========================= */

/* SMALL ONLY
/* ======================== */
@media only screen and (max-width: 479px) {
  header {
    padding: 12px 0 0 0;
    height: 120px;
  }

  header section {
    width: 40%;
    height: 50px;
  }

  header section:first-child {
    text-align: right;
  }

  header section:first-child span {
    padding-right: 2px;
  }

  header section:nth-child(2) {
    width: 20%;
  }

  header section:nth-child(3) {
    float: right;
    text-align: left;
  }

  header section:nth-child(3) span {
    padding-left: 2px;
  }

  header section.menu-section {
    display: block;
    width: 100%;
    height: auto;
  }

  .menu {
    margin-top: 8px;
  }

  .menu li {
    width: 33.33%;
    text-align: center;
    float: left;
  }

  .menu li.active a {
    color: white;
  }

  .menu a {
    height: 50px;
    line-height: 50px;
    display: block;
    width: 100%;
  }

  .logo {
    height: 50px;
  }

  .begin-title {
    height: 50px;
    line-height: 50px;
  }

  .hide-for-small {
    display: none !important;
  }

  footer {
    height: auto;
  }

  footer h6::after {
    position: static;
    /*display: none;*/
  }
}

/* MEDIUM SMALL
/* ======================== */
@media only screen and (min-width: 480px) {

  header section {
    width: 40%;
    text-align: center;
  }

  header section:nth-child(2) {
    width: 20%;
  }

  .case p {
    font-size: 80px;
  }

  .animation {
    height: 500px;
  }

  /* Setting 1
  /* ======================== */
  #scene-1 {
    height: 500px;
  }
  #milou {
    max-height: 350px;
  }
  #vinyl {
    right: 20%;
    top: 80px;
    transform: translateX(300%);
  }

  .table-wrapper {
    height: 250px;
    width: 100%;
  }
  .table {
    height: 220px;
    width: 100%;
  }

  #table1 {
    margin-top: 20px;
  }

  @keyframes vinylSlideIn {
    0% {
      transform: translateX(300%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .show-for-small-only {
    display: none !important;
  }

  /* Setting 2
  /* ======================== */
  #scene-2 .table-wrapper {
    height: 280px;
  }

  #table2 {
    height: 100%;
  }

  #chef-hat {
    width: 110px;
    left: 41.4%;
    top: 2px;
  }


  /* Setting 3
  /* ======================== */
  #table3 {
    margin-top: 20px;
  }

  #poster {
    width: 140px;
    /*height: 270px;*/
  }
}

/* MEDIUM
/* ======================== */
@media only screen and (min-width: 769px) {

  .begin-title {
    margin-left: 100px;
  }

  /* Setting 1
  /* ======================== */
  #milou {
    min-height: 400px;
  }
  #vinyl {
    height: 100px;
    width: 100px;
    transform: translateX(600%);
  }
  .table {
    height: 250px;
    width: 100%;
  }
  #table1 {
    margin-top: 0;
  }
  @keyframes vinylSlideIn {
    0% {
      transform: translateX(600%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  /* Setting 2
  /* ======================== */
  #scene-2 .table-wrapper {
    height: 300px;
  }

  #table2 {
    height: 300px;
  }

  #chef-hat {
    width: 125px;
    left: 43.4%;
    top: -40px;
  }

  /* Setting 2
  /* ======================== */
  #table3 {
    margin-top: 0;
  }

  #poster {
    width: 160px;
    height: 270px;
  }
}

/* LARGE
/* ======================== */
@media only screen and (min-width: 992px) {
  #chef-hat {
    left: 45.5%;
  }
}